
.btnSignUp{
  height: 50px;
  width: 200px;
  background-color: aquamarine;
  border: none;
  outline: none;
  box-shadow: 0px 10px 5px gray;
  border-radius: 20px;
  cursor: pointer;
}

.btnSignUp:hover{
  background-color: aqua;
}
.btnSignUp:active{
  transform: translateY(4px);
  box-shadow: 0px 5px 5px gray;

}
.signUpContainer{
  width: 700px;
  background-color: rgb(234, 229, 222);
  margin: 0 auto;
  margin-top: 3rem;
  box-shadow: 0px 0px 5px gray;
  height: 500px;
}
.container{
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.container label{
  margin: 15px 0px 0px 4px;
}
.container h1{
  text-align: center;
}

input[type = text],input[type = password]{
  height: 30px;
  margin: 0px 3px 0px 3px;
}
.btnForSignUp{
  margin: 20px;
  height: 40px;
  background-color: lightblue;
}
.btnForSignUp:hover{
  background-color: aqua;
}
.cross{
  font-size: 100px;
  position: absolute;
  top: 10px;
  right: 60px;
  cursor: pointer;
}
.loginbtn{
  margin: 0px 0px 0px 35rem;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px;
  font-weight: bold;
}
.loginbtn:hover{
  text-decoration: underline;
  color: blue;
}
